<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hệ thống nhận diện khuôn mặt</title>


    <link rel="stylesheet" href="{% static 'assets/css/main/styles.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/logo/favicon.svg' %}"
      type="image/x-icon"
    />
    <link
      rel="shortcut icon"
      href="{% static 'assets/images/logo/favicon.png' %}"
      type="image/png"
    />
  
    <link
      rel="stylesheet"
      href="{% static 'assets/extensions/simple-datatables/style.css' %} "
    />
    

    <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}" />
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <style>
  
   
      .errorlist li {
        color: red;
      }
      .choices__list {
        color: white;
      }
    </style>
  </head>

  <body >
    <!-- <script src="{% static 'assets/js/initTheme.js' %}"></script> -->

      <div id="main" style="margin-top: -35px;">{% block main %} {% endblock main %}</div>

    {% block contentscript %} {% endblock contentscript %}

    <script src="{% static 'assets/js/bootstrap.js' %}"></script>
    <script src="{% static 'assets/js/app.js' %}"></script>

    <!-- Need: Apexcharts -->

    <script src="{% static 'assets/extensions/apexcharts/apexcharts.min.js' %}"></script>


  </body>
</html>
